<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - OLMS</title>

    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

    <link href="~/css/normalize.css" rel="stylesheet" type="text/css">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <a asp-action="index" asp-controller="home">Online Learning System Monitoring</a>

            <div class="header-anchors-div">
                @if (Model == null)
                {
                    <a  asp-action="Login" asp-controller="User">Login</a>
                    <a asp-action="Register" asp-controller="User">Sign Up</a>
                }
                else
                {
                    <span>@Model.UserName</span>

                    <a asp-action="Overview" asp-controller="User" asp-route-Id="@Model.UserId">Overview</a>

                    <a asp-action="ChangePassword" asp-controller="User" asp-route-Id="@Model.UserId">Change Password</a>

                    <a asp-action="login" asp-controller="Home">Logout</a>
                }

            <a href="https://github.com/Hussein-Hany0" target="_blank">Github</a>
        </div>
    </header>

        <main>
            @RenderBody()
        </main>

    <footer>
        <div>
            <span>© @DateTime.Now.Year - Online Learning Monitoring System - </span>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
